/* src/App.css */

div {
  text-align: center;
}

h1 {
  color: #ffffff;
}

ul {
  list-style-type: none;
}

button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
